# IMPORTING SQLITE

In [1]:
import sqlite3

# connecting to sqlite server and database

In [2]:
try:
    sqliteConnection = sqlite3.connect('moviedb.db')
    cursor = sqliteConnection.cursor()
    print("Database created and Successfully Connected to SQLite")

    sqlite_select_Query = "select sqlite_version();"
    cursor.execute(sqlite_select_Query)
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)
'''finally:
    if sqliteConnection:
        sqliteConnection.close()
        print("The SQLite connection is closed")'''

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.22.0',)]

'finally:\n    if sqliteConnection:\n        sqliteConnection.close()\n        print("The SQLite connection is closed")'

## moviedb database created

In [4]:
cursor = sqliteConnection.cursor()
cursor.execute('''drop table Movies''')
cursor.execute('''create table Movies(Name varchar(50),Actor varchar(50),Actress varchar(50),Director varchar(50),Year_of_release number(5))''')
sqliteConnection.commit()

# insert rows into Movies table

In [5]:
cursor = sqliteConnection.cursor()
cursor.execute('''insert into Movies values("Tanioruvan","Jayamravi","Nayanthara","Mohanraja",2015);''')
cursor.execute('''insert into Movies values("Don","Sivakarthikeyan","Priyamohan","Cibichakaravarthi",2022);''')
cursor.execute('''insert into Movies values("Beat","Vijay","Dharsha","Nelson",2022);''')
cursor.execute('''insert into Movies values("Vikram","Kamalhasan","Maina","Lokeshkanagaraj",2022);''')
cursor.execute('''insert into Movies values("Netrikan","Saran","Nayanthara","Milind Rau",2021);''')
cursor.execute('''insert into Movies values("Mrlocal","Sivakarthikeyan","Nayanthara","Rajesh",2019);''')
cursor.execute('''insert into Movies values("Varuthapadatha Valibar Sangam","Sivakarthikeyan","Sridhivya","Ponram",2013);''')
cursor.execute('''insert into Movies values(" Velaiyilla Pattathari","Thanush","Amalapal","Velraj",2014);''')
cursor.execute('''insert into Movies values("Karnan","Thanush","Rajisha","Mani Selvaraj",2021);''')
cursor.execute('''insert into Movies values("Bhahubali","Prabash","Anushka","Rajamouli",2017);''')
sqliteConnection.commit()

# Printing all values

In [6]:
cursor = sqliteConnection.cursor()
cursor.execute('''select * from Movies;''')
for i in cursor:
  print(i)

('Tanioruvan', 'Jayamravi', 'Nayanthara', 'Mohanraja', 2015)
('Don', 'Sivakarthikeyan', 'Priyamohan', 'Cibichakaravarthi', 2022)
('Beat', 'Vijay', 'Dharsha', 'Nelson', 2022)
('Vikram', 'Kamalhasan', 'Maina', 'Lokeshkanagaraj', 2022)
('Netrikan', 'Saran', 'Nayanthara', 'Milind Rau', 2021)
('Mrlocal', 'Sivakarthikeyan', 'Nayanthara', 'Rajesh', 2019)
('Varuthapadatha Valibar Sangam', 'Sivakarthikeyan', 'Sridhivya', 'Ponram', 2013)
(' Velaiyilla Pattathari', 'Thanush', 'Amalapal', 'Velraj', 2014)
('Karnan', 'Thanush', 'Rajisha', 'Mani Selvaraj', 2021)
('Bhahubali', 'Prabash', 'Anushka', 'Rajamouli', 2017)

# select all movies whose nayanthara is actress

In [7]:
cursor.execute('''select * from Movies where Actress="Nayanthara";''')
for i in cursor:
  print(i)

('Tanioruvan', 'Jayamravi', 'Nayanthara', 'Mohanraja', 2015)
('Netrikan', 'Saran', 'Nayanthara', 'Milind Rau', 2021)
('Mrlocal', 'Sivakarthikeyan', 'Nayanthara', 'Rajesh', 2019)

# select movies whose actor is sivakarthikeyan

In [8]:
cursor.execute('''select name from Movies where Actor="Sivakarthikeyan";''')
for i in cursor:
  print(i)

('Don',)
('Mrlocal',)
('Varuthapadatha Valibar Sangam',)